*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
header{
    background: url('mode.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    
}
.nav-bar .nav-items{
    width: 90%;
    margin: auto;
    height: 15vh;
    align-items: center;
}
.nav-bar .nav-items .logo{
    float: left;
    width: 30%;
}
.nav-bar .nav-items .logo img{
    width: 40px;
    height: auto;
    margin-left: 45px;
    margin-top: 10px;
}

.nav-bar .nav-items .nav-menu{
    float: right;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.nav-bar .nav-items .nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
.nav-bar .nav-items .nav-menu ul li a{
    color: white;
    padding: 8px 15px;
}
.nav-bar .nav-items .nav-menu ul li a:hover{
    border-color: none;
    background-color:white;
    padding: 8px 15px;
    color: #1a6785;
}
.nav-bar .nav-items .nav-menu .social-media{
    width: 15%;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    cursor: pointer;
}
.nav-bar .nav-items .nav-menu .social-media i:hover{
color: #e63946;    
}
.nav-bar .nav-items .nav-menu .social-media i{
    font-size: 20px;
}
.info{
    width:90%;
    margin: auto;
    margin-top: 10vh;
}
.info h3{
    font-size: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info h1{
    font-size: 55px;
    color: white;
    margin-top: 10px;
}
.info h2{
    font-size: 30px;
    color: #f4bd63;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .info p{
    margin-top: 10px;
    font-size: 17px;
    max-width: 35%;
    color: white;
}
.info .btn1{
    margin-top: 15px;
    color: white;
    background-color: #f4bd63;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.info .btn2{
    margin-top: 15px;
    color: #f4bd63;
    background:transparent;
    padding: 10px 20px;
    border: 1.2px solid #f4bd63;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.my-service{
    background-color: #eff6ff;
    height: auto;
    width: 100%;
    height: 100vh;
    position:relative;
    
}
.my-service h2{
    text-align: center;
    font-size: 35px;
    padding: 40px 0px;
    color: #1a6785;
    font-family: 'Courier New', Courier, monospace;
}
.my-service .container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    text-align: center;
}
.my-service .container .info{
    text-align: center;
    width: 30%;
    margin: 2px;
    height: 57vh;
    align-items: center;
}
.my-service .container .info img{
    width: 20%;
    height: auto;
    margin-top: 40px;
}
.my-service .container .info h3{
    color: #1a6785;
    margin-top: 20px;
}
.my-service .container .info p{
    text-align: center;
    color: black;
    max-width: 70%;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 17px;
}
.my-service .container .info h4{
    margin-top: 20px;
    color: #e63946;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
}
.my-service .container .info:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.gallery{
    align-items: center;
    text-align: center;
    background-color: #eff6ff;
    height: auto;
    width: 100%;
}
.gallery .gallery-info h2{
    font-size:35px ;
    color: #1a6785;
    font-family: 'Courier New', Courier, monospace;
}
.gallery .gallery-info ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 40px;
}
.gallery .gallery-info ul #all{
    color: red;
    text-decoration: underline;
}
.gallery .gallery-container{
    width: 90%;
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery .gallery-container .image{
    flex: 30%;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
}
.gallery .gallery-container .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.gallery .gallery-container .image:hover img{
    transform: scale(1.4);
}

/*-----------------------BLOGS------------------*/

.blog{
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    text-align:center;
}
.blog .blog-title h2{
    padding: 7vh;
    font-size: 35px;
    color: #1a6785;
    font-family: 'Courier New', Courier, monospace;
}
.blog .blog-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin:auto;
    align-items: center;
}
.blog .blog-container .blog-info{
    width: 25%;
    height: auto;
    margin: 0px 10px;
    background-color: #1a6785;
    border-radius: 15px;
}
.blog .blog-container .blog-info .blog-img{
    width: 100%;
    height: auto;
}
.blog .blog-container .blog-info .blog-img img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    transition: 0.4s;
}
.blog .blog-container .blog-info h3{
    font-size: 25px;
    color: white;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blog .blog-container .blog-info span{
    color: #f4bd63;
    font-size: 14px;
}
.blog .blog-container .blog-info p{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.blog .blog-container .blog-info button{
    margin-top: 15px;
    background: transparent;
    border: 1px solid white;
    font-size: 15px;
    padding: 8px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
}
.blog .blog-container .blog-info button:hover{
    background-color: white;
    color: #1a6785;
}


/*-----------------Blog----------------*/



/*----------------Testimonials---------------*/
.testimonials{
    width: 100%;
    height: auto;
    background-color: #1a6785;
    margin-top: 30px;
    align-items: center;
    text-align: center;

}
.test-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;
}
.test-container .test-info{
    width: 25%;
    margin: auto;
    background-color: white;
    height: auto;
    border-radius: 10px 50px 50px 10px;
    margin-bottom: 40px;
}
.test-container .test-img{
    height: auto;
    width: 60px;
    align-items: center;
    margin: auto;
    display: inline-block;
    border-radius: 40px;
    margin-top: 30px;
}
.test-container .test-img img{
    max-width: 80%;
    align-items: center;
    border-radius: 40px;
}
.test-title{
    padding: 7vh;
    font-size: 25px;
    color: white;
}
.test-info h2{
    font-size: 25px;
}
.test-info h2 span{
    font-size: 15px;
    color: #e63946;
}
.test-info p{
    width: 80%;
    margin: auto;
}
.test-info h5{
    font-size: 18px;
    margin-top: 10px;
    text-decoration: underline;
}
.test-info .social-items{
    font-size: 20px;
    margin-top: 5px;
}
.test-info .social-items a{
    display: inline-block;
    padding: 0 5px;
    color:#1a6785;
    margin-bottom: 20px;
}
.test-info .social-items a:hover{
    color: #e63946;
}

/*----------xxxxxxxxxx------Testimonials--------xxxxxxxxx---------*/

/*----------------MY PRODUCT USERS--------------*/
.myproducts{
    width: 100%;
    background-color: #eff6ff;
    align-items: center;
    text-align: center;
    height: 40vh;
   
}
.myproduct-title h2{
    padding: 7vh;
    font-size: 35px;
    color: #1a6785;
    font-family: 'Courier New', Courier, monospace;
}
.myproducts .users{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    font-size: 70px;

}
.myproducts .users a{
    color: #1a6785;
    text-decoration: none;
}
.myproducts .users a:hover{
    color: #e63946;
}

/*---------xxxx---MY PRODUCTS----xxxx-----*/

/*-------Footer----------------*/
footer{
    background-color: #1a6785;
    width: 100%;
    height: auto;
    text-align: center;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    color: white;
    padding: 40px 0px;
    
}
.col1{
    list-style: none;
    text-decoration: none;
    color: white;
}
.col1 a{
    color: white;
}
.col1 li{
    margin: 10px 0px;
}
.col2{
    list-style: none;
    text-decoration: none;
    color: white;
}
.col2 a{
    color: white;
}
.col2 li{
    margin: 10px 0px;
}
.col3 input{
    display: block;
    margin: 10px 0px;
    text-align: center;
    width: auto;
    height: 30px;
}
.col3 button{
    background-color: #f4bd63;
    border:none;
    color: white;
    padding: 8px 10px;
}
footer p{
    color: white;
    padding: 10px 0px;
    background-color: #1a6785;
    width: 100%;
    align-content: center;
}

footer p img{
    height: 35px;
    align-items: center;
    padding-right: 5px;
    position: relative;

}


